:root {
    --outer-background: #3B4664;
    --main-text-colour: white;

    --theme-slider-background: #252D44;
    --theme-slider: #CD4035;

    --total-display-background: #181F32;

    --buttons-text-colour: #444B5C;

    --button-a-shadow: #B6A399;
    --button-a-background: #EAE3DB;
    --button-a-active-shadow: rgb(183, 165, 154);
    --button-a-active-background: rgb(201, 195, 187);

    --button-b-c-shadow: #424E73;
    --button-b-c-background: #647299;
    --button-b-c-active-shadow: #353f5c;
    --button-b-c-active-background: #4e5976;

    --button-d-shadow: #8F271C;
    --button-d-background: #D13F30;
    --button-d-text: white;
    --button-d-active-shadow: #7c2218;
    --button-d-active-background: #b53729;

}

:root .theme-2 {
    --outer-background: rgb(231,231,231);
    --main-text-colour: #474541;

    --theme-slider-background: #D3CDCA;
    --theme-slider: #C95406;

    --total-display-background: #EFEFEF;

    --buttons-text-colour: #3C3B37;

    --button-a-shadow: #ADA59F;
    --button-a-background: #E6E5DE;
    --button-a-active-shadow: #908a85;
    --button-a-active-background: #cccbc4;

    --button-b-c-shadow: #1D646A;
    --button-b-c-background: #388287;
    --button-b-c-active-shadow: #174e53;
    --button-b-c-active-background: #2a6064;

    --button-d-shadow: #8C4511;
    --button-d-background: #C85401;
    --button-d-active-shadow: #6f370e;
    --button-d-active-background: #a14503;
}

:root .theme-3 {
    --outer-background: #170629;
    --main-text-colour: #F0DD6D;

    --theme-slider-background: #1D0836;
    --theme-slider: #01E2CE;

    --total-display-background: #1D0836;

    --buttons-text-colour: #FAE365;

    --button-a-shadow: #6E2A87;
    --button-a-background: #311B4E;
    --button-a-active-shadow: #4e1e5f;
    --button-a-active-background: #231337;

    --button-b-c-shadow: #A025CF;
    --button-b-c-background: #55087B;
    --button-b-c-active-shadow: #711b93;
    --button-b-c-active-background: #3c0656;

    --button-d-shadow: #3CEEE0;
    --button-d-background: #03aa9c;
    --button-d-text: #461681;
    --button-d-active-shadow: #32c8bb;
    --button-d-active-background: #037067;
}

body {
    /* Display & Box Model */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: 100vh;

    /* Colour */
    background-color: var(--outer-background);

    /* Font */
    font-family: "Heebo", sans-serif;
}

.outer-container {
    /* Display & Box Model */
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    margin: 2vh 0 10vh 0;
    width: 400px;
}

.calc-theme-container {
    /* Display & Box Model */
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: end;
    padding: 5px 0;

    /* Colour */
    color: var(--main-text-colour);
}

.calc {
    /* Display */
    padding-left: 5px;

    /* Text */
    font-size: 25px;
    font-weight: 800;
}

.theme-text {
    /* Display */
    margin-bottom: 8px;

    /* Text */
    font-size: 12px;
    font-weight: 800;
}

.theme-numbers {
    /* Display */
    display: grid;
    grid-template-columns: 21.33px 21.33px 21.33px;
    justify-items: center;
    margin-bottom: 0;
}

/* Base container for the theme slider */
.theme-slider {
    position: relative;
    width: 65px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--theme-slider-background);
    border-radius: 99px;
    margin-bottom: 4px;
}

/* Hide the actual radio inputs */
.theme-slider input[type="radio"] {
    display: none;
}

/* Styling for the labels (1, 2, 3) */
.theme-slider label {
    color: var(--theme-slider-background);
    /* color: white; */
    font-size: 14px;
    opacity: 0;
    cursor: pointer;

    width: 30%;
}

/* Base slider look */
.slider {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background-color: var(--theme-slider);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* Moving the slider when the different radio buttons are checked */
#theme1:checked~.slider {
    transform: translateX(0);
}

#theme2:checked~.slider {
    transform: translateX(20px);
}

#theme3:checked~.slider {
    transform: translateX(40px);
}

.total-container {
    /* Display & Box Model */
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    border-radius: 10px;
    padding-right: 25px;
    padding-top: 15px;
    padding: 15px 25px 20px 0;

    /* Colour */
    background-color: var(--total-display-background);
    color: var(--main-text-colour);

    /* Text */
    font-size: 40px;
    font-weight: 800;
}

.input-container {
    /* Display & Box Model */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 18px;
    justify-items: center;
    align-items: center;
    margin-top: 3vh;
    padding: 25px 25px;
    border-radius: 10px;

    /* Colour */
    background-color: var(--theme-slider-background);
    color: var(--buttons-text-colour);

}

.button-a {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--button-a-shadow);

    /* Colour */
    background-color: var(--button-a-background);

    /* Text */
    font-size: 28px;
    font-weight: 800;
}

.button-a:active {
    /* Display & Box Model */
    border-bottom: 4px solid var(--button-a-active-shadow);

    /* Colour */
    background-color: var(--button-a-active-background);
}

.button-a:hover {
    cursor: pointer;
}

.button-b {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--button-b-c-shadow);

    /* Colour */
    background-color: var(--button-b-c-background);
    color: white;

    /* Text */
    font-size: 18px;
    font-weight: 800;
}

.button-b:active {
    /* Display & Box Model */
    border-bottom: 4px solid var(--button-b-c-active-shadow);

    /* Colour */
    background-color: var(--button-b-c-active-background);
}

.button-b:hover {
    cursor: pointer;
}

.button-c {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 2;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--button-b-c-shadow);

    /* Colour */
    background-color: var(--button-b-c-background);
    color: white;

    /* Text */
    font-size: 18px;
    font-weight: 800;
}

.button-c:active {
    /* Display & Box Model */
    border-bottom: 4px solid var(--button-b-c-active-shadow);

    /* Colour */
    background-color: var(--button-b-c-active-background);
}

.button-c:hover {
    cursor: pointer;
}

.button-d {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / span 2;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid var(--button-d-shadow);

    /* Colour */
    background-color: var(--button-d-background);
    color: var(--button-d-text);

    /* Text */
    font-size: 20px;
    font-weight: 800;
}

.button-d:active {
    /* Display & Box Model */
    border-bottom: 4px solid var(--button-d-active-shadow);

    /* Colour */
    background-color: var(--button-d-active-background);
}

.button-d:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .outer-container {
        margin-left: 25px;
        margin-right: 25px;
    }
}